* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
  height: 86vh;
}
.register_page{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.filters{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px ;
  box-shadow: 0 0 3px gray;
}

/* //antd-icons */

.anticon svg{
  font-size: 20px;;
  cursor: pointer;
}
.active_icon{
  color: black;
}
.inactive_icon{
  color: gray;
}
.switch_icons{
  border: 1px solid rgba(0, 0, 0,  0.677);
  border-radius: 5px;
  padding: 10px 15px;
}